@import '../../../../styles/vars';
@import '../../../../styles/mixins';

.banner {
  max-width: 250px;
  margin: 0 auto;

  @media #{$desktop-small-and-tablet}, #{$desktop} {
    min-width: 225px;
    max-width: 425px;
  }

  @media #{$desktop-small-and-tablet} {
    width: 440px;
  }

  @media #{$desktop} {
    width: 540px;
  }

  @media #{$desktop-large} {
    width: 640px;
    max-width: 640px;
  }
}
