@import '~styles/vars';
@import '~styles/mixins';

.button {
  @include set-font($font-size-sm, $color-white, $font-weight-regular);

  min-width: 200px;
  min-height: 43px;
  letter-spacing: 0.5px;
  border-radius: 55px;
  background-color: $color-blue-light;
  color: $color-white;

  &:hover {
    background-color: $color-blue-medium;
    transition: background-color 0.5s ease;
  }

  @media #{$desktop-small-and-tablet},
  #{$desktop} {
    @include set-size(230px, 60px);

    font-size: $font-size-md;
  }

  @media #{$desktop-large} {
    @include set-size(250px, 60px);

    font-size: $font-size-base;
  }
}
