@import '../../styles/vars.scss';

.layoutSection {
  padding: 0 50px;
  margin: 0 auto;

  @media #{$tablet} {
    max-width: 870px;
  }

  @media #{$desktop-small} {
    max-width: 970px;
  }

  @media #{$desktop}, #{$desktop-large} {
    max-width: 1250px;
  }
}
