@import '~styles/vars';
@import '~styles/mixins';

.scheduleFromEngland {
  padding: 100px 0 100px 0;

  @include set-flex(column, center, center);

  @media #{$desktop}, #{$desktop-large} {
    @include set-flex(row, space-between, center);

    column-gap: 60px;
  }

  .scheduleWrapper {
    @include set-flex(column, center, center);

    row-gap: 40px;
    position: relative;

    @media #{$desktop-small}, #{$desktop}, #{$desktop-large} {
      @include set-flex(row, center, center);

      column-gap: 20px;
      flex-direction: row-reverse;
    }

    .calendarIcon {
      position: absolute;
      top: -47px;
      left: 0px;
    }
  }
}
