@import '~styles/vars';
@import '~styles/mixins';

.scheduleFromEngland {
  @include set-flex(column, center, center);
  padding-bottom: 100px;

  @include tablet {
    padding-bottom: 150px;
  }

  @include laptop {
    padding-bottom: 200px;
  }

  @include desktop {
    @include set-flex(row, center, center);
    gap: 30px;
    padding-bottom: 200px;
  }

  &__title {
    max-width: 215px;
    text-align: center;
    padding-bottom: 60px;

    @include tablet {
      max-width: 350px;
      padding-bottom: 80px;
    }

    @include laptop {
      max-width: 370px;
      padding-bottom: 100px;
    }

    @include desktop {
      padding: 0;
    }
  }

  .scheduleWrapper {
    @include set-flex(column, center, center);
    row-gap: 75px;
    position: relative;

    @include tablet {
      column-gap: 10px;
      @include set-flex(row, center, center);
      flex-direction: row-reverse;
    }

    @include laptop {
      column-gap: 30px;
      @include set-flex(row, center, center);
      flex-direction: row-reverse;
    }

    .calendarIcon {
      position: absolute;
      top: -47px;
      left: 0px;
    }
  }
}
