@import '~styles/vars';
@import '~styles/mixins';

.accordionItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;

  &:last-of-type {
    padding-bottom: 0;
  }

  &__title {
    @include set-flex(row, space-between);
    font-weight: $font-weight-base;
    font-size: $font-size-md;
    line-height: 18px;
    cursor: pointer;

    @include laptop {
      font-size: $font-size-base;
      line-height: 22px;
    }

    &__content {
      &::before {
        content: '\2022';
        color: $color-grey-dark;
      }
    }
  }

  &__subTitle {
    position: relative;
    margin: 0 auto;
    width: 250px;
    padding-bottom: 15px;
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: 18px;
    text-align: start;

    @include tablet {
      width: 300px;
      font-size: $font-size-md;
      line-height: 22px;
    }

    @include laptop {
      width: 330px;
      font-size: $font-size-base;
      line-height: 22px;
    }

    &::before {
      content: '\1F822';
      color: $color-grey-dark;
      position: absolute;
      left: -20px;
    }
  }
}