@import '~styles/vars';
@import '~styles/mixins';

.ukraineSection {
  @include set-flex(column, center, center);
  margin-top: 100px;

  @include tablet {
    margin-top: 150px;
  }

  @include laptop {
    margin-top: 200px;
  }

  &__image {
    position: relative;
    @include set-size(215px, 175px);

    @include tablet {
      @include set-size(275px, 220px);
    }

    @include laptop {
      @include set-size(290px, 250px);
    }

    @include desktop {
      @include set-size(385px, 310px);
    }
  }
}
