@import '~styles/vars';
@import '~styles/mixins';

.rulesSection {
  background-color: $color-blue-light;

  &__container {
    @include set-flex(column, center, center);
    padding: 150px 20px;

    @include laptop {
      padding: 200px 0;
    }

    @include desktop {
      marpaddinggin: 280px 0;
    }
  }

  &__title {
    padding-bottom: 20px;
    color: $color-white;
    font-weight: $font-weight-regular;
    font-size: $font-size-xl;
    line-height: 27px;

    @include laptop {
      padding-bottom: 35px;
      font-size: $font-size-huge;
      line-height: 46px;
    }

    @include desktop {
      font-size: $font-size-giant;
      line-height: 52px;
    }
  }

  &__subTitle {
    padding-bottom: 50px;
    color: $color-white;
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    line-height: 18px;
    text-align: center;

    @include laptop {
      padding-bottom: 35px;
      font-size: $font-size-lg;
      line-height: 27px;
    }

    @include desktop {
      font-size: $font-size-xl;
      line-height: 30px;
    }
  }

  &__list {
    @include set-flex(row, center, center);
    gap: 30px;
    padding: 15px 25px;
    height: 85px;
    background-color: $color-white;
    border-radius: 12px;
    font-size: $font-size-sm;
    line-height: 18px;

    @include laptop {
      padding-bottom: 35px;
      font-size: $font-size-lg;
      line-height: 27px;
    }

    &__content {
      width: 220px;
    }
  }
}
