@import '~styles/vars';
@import '~styles/mixins';

.partnersSection {
  @include set-flex(column, center, center);
  margin: 120px 80px 100px;
  text-align: center;

  &__title {
    margin-bottom: 30px;
    font-size: $font-size-xl;
    line-height: 27px;

    @include tablet {
      font-size: $font-size-huge;
      line-height: 46px;
    }

    @include desktop {
      font-size: $font-size-giant;
      line-height: 50px;
    }
  }

  &__subTitle {
    margin-bottom: 60px;
    font-size: $font-size-sm;
    line-height: 18px;

    @include tablet {
      font-size: $font-size-lg;
      line-height: 27px;
    }

    @include desktop {
      font-size: $font-size-xl;
      line-height: 30px;
    }
  }

  &__partnersLogo {
    @include set-flex(column);
    gap: 40px;
    cursor: pointer;

    @include laptop {
      @include set-flex(row);
      gap: 60px;
    }

    &__image {
      @include set-size(126px, 45px);

      @include laptop {
        @include set-size(210px, 75px);
      }

      @include desktop {
        @include set-size(250px, 90px);
      }

      &:hover {
        transform: scale(1.2);
        transition-duration: 0.3s;
      }
    }
  }
}
