@import '~styles/vars';
@import '~styles/mixins';

.accordion {
  @include set-flex(column, center, center);
  gap: 15px;

  &__preview {
    @include set-flex(row, space-around, center);
    @include set-size(330px, 85px);
    padding: 15px 25px;
    background-color: $color-white;
    border-radius: 12px;
    font-size: $font-size-sm;
    line-height: 18px;
    text-align: start;

    @include tablet {
      width: 450px;
    }

    &__title {
      width: 235px;
      font-weight: $font-weight-regular;
      font-size: $font-size-sm;
      line-height: 18px;
      color: $color-grey-dark;

      @include tablet {
        width: 280px;
        font-size: $font-size-md;
        line-height: 22px;
      }

      @include laptop {
        width: 320px;
        font-size: $font-size-base;
        line-height: 22px;
      }
    }
  }

  &__list {
    @include set-flex(column, space-around);
    width: 330px;
    padding: 15px 35px;
    background-color: $color-white;
    border-radius: 12px;
    color: $color-grey-dark;

    @include tablet {
      width: 450px;
      padding: 25px 55px;
    }

    @include laptop {
      padding: 25px 45px;
    }
  }
}

.arrowUp {
  transform: rotate(180deg);
  transition: 0.5s;
}

.arrowDown {
  transform: rotate(360deg);
  transition: 0.5s;
}