@import '~styles/vars';
@import '~styles/mixins';

.accordion {
  @include set-flex(column, center, center);
  gap: 15px;

  &__preview {
    @include set-flex(row, center, center);
    gap: 30px;
    padding: 15px 25px;
    height: 85px;
    background-color: $color-white;
    border-radius: 12px;
    font-size: $font-size-sm;
    line-height: 18px;
    width: 330px;

    &__title {
      width: 235px;
    }
  }

  @include laptop {
    padding-bottom: 35px;
    font-size: $font-size-lg;
    line-height: 27px;
  }

  &__arrowUP {
    transform: rotate(180deg);
  }

  &__list {
    padding: 15px 25px 0;
    @include set-flex(column);
    background-color: $color-white;
    border-radius: 12px;
    font-size: $font-size-sm;
    line-height: 18px;
    width: 330px;

    &__item {
      @include set-flex(row, space-between, center);
      padding: 15px 25px;
    }
  }
}