@import '~styles/vars';
@import '~styles/mixins';

.accordionItem {
  display: flex;
  flex-direction: column;
  // gap: 15px;
  padding-bottom: 15px;

  &__title {
    display: flex;
    justify-content: space-between;
  }


  &__subTitle {
    // display: none;
  }

  &__subTitleHide {
    display: none;
  }

  &__arrowUP {
    transform: rotate(90deg);
  }
}