@import '~styles/vars';
@import '~styles/mixins';

.navigationHeader {
  height: 60px;
  @include set-flex(row, space-between, center);

  padding: $default-page-padding;
  background-color: $color-white;
}
