@import '~styles/vars';
@import '~styles/mixins';

.footer {
  @include set-flex(column);
  background-color: $color-blue-dark;
  color: $color-white;
  font-weight: $font-weight-regular;

  @include tablet {
    align-items: center;
  }

  &__container {
    padding: 60px 40px;

    @include laptop {
      @include set-flex(row);
      gap: 65px;
    }

    @include desktop {
      gap: 75px;
    }

    @include desktop-FHD {
      gap: 95px;
    }
  }

  &__logo {
    margin-bottom: 40px;
    @include set-flex(column);
    gap: 20px;

    @include tablet {
      @include set-flex(row, flex-start, center);
      gap: 70px;
    }

    @include laptop {
      @include set-flex(column, flex-start, flex-start);
      gap: 30px;
    }

    &__image {
      position: relative;
      @include set-size(115px, 30px);
      cursor: pointer;

      @include tablet {
        @include set-size(145px, 35px);
      }

      @include desktop-FHD {
        @include set-size(160px, 40px);
      }
    }

    &__text {
      font-size: 14px;
      line-height: 21px;

      @include tablet {
        font-size: 15px;
        line-height: 23px;
      }

      @include desktop-FHD {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &__fb {
      position: relative;
      cursor: pointer;
      @include set-size(25px, 25px);

      @include tablet {
        @include set-size(30px, 30px);
      }

      @include desktop-FHD {
        @include set-size(35px, 35px);
      }

      &:hover {
        transform: scale(1.2);
        transition-duration: 0.3s;
      }
    }
  }

  &__contacts {
    @include set-flex(column);
    gap: 40px;

    @include tablet {
      @include set-flex(row);
      gap: 70px;
    }

    @include laptop {
      align-items: flex-start;
      gap: 65px;
    }

    @include desktop {
      gap: 75px;
    }

    @include desktop-FHD {
      gap: 95px;
    }

    &__contact {
      @include set-flex(column);
      gap: 15px;

      @include laptop {
        gap: 30px;
      }

      &__title {
        font-size: 14px;
        line-height: 23px;

        @include tablet {
          font-size: 18px;
          line-height: 29px;
        }

        @include desktop-FHD {
          font-size: 20px;
          line-height: 33px;
        }
      }

      &__info {
        font-size: 12px;
        line-height: 18px;
        cursor: pointer;

        @include tablet {
          font-size: 15px;
          line-height: 22px;
        }

        @include desktop-FHD {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

.textDecoration {
  &:hover {
    color: $color-grey-light;
  }

  @include laptop {
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $color-grey-light;
      border-bottom: 1px solid $color-grey-light;
      transition-duration: 0.3s;
    }
  }
}
