@mixin set-size($width: 0px, $height: 0px) {
  width: $width;
  height: $height;
}

@mixin set-flex($flex-direction: row, $justify-content: flex-start, $align-items: stretch) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin set-position($position: static, $top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin set-border($width: 0px, $style: none, $color: inherit, $radius: 0px) {
  border: $width $style $color;
  border-radius: $radius;
}

@mixin set-font($size: $font-size-md, $color: $font-default, $font-weight: $font-weight-base) {
  font-size: $size;
  color: $color;
  font-weight: $font-weight;
}

@mixin tablet {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1366px) {
    @content;
  }
}

@mixin desktop-FHD {
  @media (min-width: 1920px) {
    @content;
  }
}