@import '~styles/vars';
@import '~styles/mixins';

.phoneWrapper {
  margin-bottom: 30px;
}

.phoneWrapper .phoneNumber {
  width: 100% !important;
  border: 0.560918px solid #C7D2DC;
  border-radius: 45px;
  color: #5E7294;
  font-size: 12px;
  padding-right: 20px;
  border: none;
  transition: 0.3s;
  font-size: 12px !important;
  color: $color-grey-dark;

  @include desktop {
    height: 50px !important;
    font-size: 16px !important;
    padding-left: 60px !important;
  }
}

.phoneWrapper .phoneNumber {
  &:focus {
    outline: none;
    border: 1px solid $color-blue-light;
    box-shadow: 0 0 5px $color-blue-light;
    transition: 0.3s;
  }
}

.phoneWrapper .phoneFlag.flag-dropdown {
  border-width: 0;
  margin-left: 5px;
  background-color: transparent !important;

  @include desktop {
    margin-left: 15px;
  }

  :active {
    border: none;
  }
}

.selected-flag:hover,
.selected-flag:focus {
  background-color: transparent !important;
}

.phoneWrapper .open {
  background-color: transparent !important;
}