@import '~styles/vars';
@import '~styles/mixins';

.banner {
  max-width: 250px;
  height: 340px;
  margin: 0 auto;
  position: relative;

  @include tablet {
    max-width: 300px;
    width: 300px;
    height: 411px;
  }

  @include laptop {
    max-width: 100%;
    width: 440px;
    height: 600px;
  }

  @include desktop {
    max-width: 100%;
    width: 540px;
    height: 740px;
  }

  @include desktop-FHD {
    width: 640px;
    height: 877px;
    max-width: 640px;
  }
}